/* ============================== UserStyle ==============================
@name           KTN StrategyWiki
@namespace      https://github.com/ktnjared/ktn-config/
@homepageURL    https://github.com/ktnjared/ktn-config/
@supportURL     https://github.com/ktnjared/ktn-config/
@updateURL      https://raw.githubusercontent.com/ktnjared/ktn-config/main/browser%20extensions/Userscripts/ktn-strategywiki.css
@downloadURL    https://raw.githubusercontent.com/ktnjared/ktn-config/main/browser%20extensions/Userscripts/ktn-strategywiki.css

@description    Tweaks for StrategyWiki

@version        2024.05.26
@author         ktnjared
============================== UserStyle ============================== */
@-moz-document domain("strategywiki.org") {

    /* Allow page to use the full width of the window */
    #container {
        max-width: none !important;
    }

    /* Increase main font size */
    #mw-content-text {
        font-size: 130% !important;
    }

    /* Decrease table font size, relative to the main font size */
    .mw-body table {
        font-size: 85% !important;
    }
}
