/* ============================== UserStyle ==============================
@name           KTN bitbang.social
@namespace      https://github.com/ktnjared/ktn-config/
@homepageURL    https://github.com/ktnjared/ktn-config/
@supportURL     https://github.com/ktnjared/ktn-config/
@updateURL      https://raw.githubusercontent.com/ktnjared/ktn-config/main/browser%20extensions/Userscripts/ktn-bitbang.social.css
@downloadURL    https://raw.githubusercontent.com/ktnjared/ktn-config/main/browser%20extensions/Userscripts/ktn-bitbang.social.css

@description    Tweaks for bitbang.social

@version        2024.05.30
@author         ktnjared
============================== UserStyle ============================== */
@-moz-document domain("bitbang.social") {

    /* Remove header image 
     * Due to bitbang.social's custom header image, it breaks userstyles 
     * for Mastodon, including Tangerine. So we just remove the header 
     * image.
     */
    div.tabs-bar__wrapper::before {
        display: none !important;
    }

    /* Customized Tangerine Font */
    .reply-indicator__content,
    .status__content {
        font-family: "Inter", "San Francisco", sans-serif !important;
        font-size: 18px !important;
        line-height: 24px !important;
        font-weight: 400 !important;
    }
}
