/***
╔══════════════════════════════════════════════════════════════════════════╗
║                                                                          ║
║                                                                          ║
║   ███████████  ███                        ██████                         ║
║  ░░███░░░░░░█ ░░░                        ███░░███                        ║
║   ░███   █ ░  ████  ████████   ██████   ░███ ░░░   ██████  █████ █████   ║
║   ░███████   ░░███ ░░███░░███ ███░░███ ███████    ███░░███░░███ ░░███    ║
║   ░███░░░█    ░███  ░███ ░░░ ░███████ ░░░███░    ░███ ░███ ░░░█████░     ║
║   ░███  ░     ░███  ░███     ░███░░░    ░███     ░███ ░███  ███░░░███    ║
║   █████       █████ █████    ░░██████   █████    ░░██████  █████ █████   ║
║  ░░░░░       ░░░░░ ░░░░░      ░░░░░░   ░░░░░      ░░░░░░  ░░░░░ ░░░░░    ║
║                                                                          ║
║                                                                          ║
║                              userChrome.css                              ║
╚══════════════════════════════════════════════════════════════════════════╝
***/

/***
╔══════════════════════════════════════════════════════════════════════════╗
║ Hide Firefox Multi-Containers urlbar icon                                ║
╚══════════════════════════════════════════════════════════════════════════╝
***/
#pageAction-urlbar-_testpilot-containers[aria-label="Always open this in a Container"] {
    display: none !important;
}

/***
╔══════════════════════════════════════════════════════════════════════════╗
║ Tab Font Settings                                                        ║
╚══════════════════════════════════════════════════════════════════════════╝
***/
tab {
    font-weight: bold;
    font-size: 1.001em !important;
}

/***
╔══════════════════════════════════════════════════════════════════════════╗
║ Unified Extensions Compact View                                          ║
╚══════════════════════════════════════════════════════════════════════════╝
***/
#unified-extensions-view {
    --uei-icon-size: 16px;

    > .panel-header {
        display: none !important;

        + toolbarseparator {
            border-top: none !important;
            margin-bottom: var(--arrowpanel-menuitem-margin-inline) !important;
        }
    }

    .unified-extensions-item {
        margin-block: 0 !important;

        .unified-extensions-item-message-deck {
            display: none;
        }

        > .unified-extensions-item-menu-button {
            list-style-image: url("chrome://global/skin/icons/more.svg") !important;
            padding: 0 0 0 var(--arrowpanel-menuitem-margin-inline) !important;

            > .toolbarbutton-icon {
                border: none !important;
            }
        }
    }
}
